/* Base styles */
.about-card {
  width: 95%;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.about-card-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.about-me-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.about-me-description {
  width: 70%;
  text-align: left;
  margin-bottom: 20px;
}

.about-me-description p {
  font-size: 16px;
  line-height: 1.6;
}

.about-me-image {
  overflow: hidden;
}

.about-me-image img {
  width: 100%;
  filter: blur(10px);
}

.about-me-image img:hover {
  filter: blur(0px);
}

/* Responsive styles */
@media (max-width: 1200px) {
  .about-card-content {
    flex-direction: column;
    align-items: flex-start;
  }

  .about-me-description {
    width: 100%;
  }

  .about-me-heading {
    font-size: 22px;
  }

  .about-me-description p {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  .about-card {
    padding: 15px;
  }

  .about-me-heading {
    font-size: 20px;
  }

  .about-me-description p {
    font-size: 14px;
  }

  .about-card-content {
    flex-direction: column;
  }

  .about-me-description {
    width: 100%;
    margin-bottom: 15px;
  }
}

@media (max-width: 480px) {
  .about-card {
    padding: 10px;
  }

  .about-me-heading {
    font-size: 18px;
  }

  .about-me-description p {
    font-size: 13px;
  }

  .about-me-description {
    width: 100%;
    margin-bottom: 10px;
  }

  .about-me-image img {
    filter: blur(5px);
  }
  .mobile-class{
    flex-direction: column;
    gap: 37px;
    padding: 90px;
  }
}
